#contenedor {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

div {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
}

#azul {
  background-color: blue;
}

#rojo {
  background-color: red;
}

#verde {
  background-color: green;
}

#amarillo {
  background-color: yellow;
}
