#contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 15px;
}

#key {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid black;
}

